.timeslot-container {
  max-width: 573px;
  margin: auto;
  padding: 1rem 1rem 6px;
  background: white;
  border-radius: 0.5rem;
}
.timeSlot {
  cursor: pointer;
  flex: 0.25 0 10%;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin-bottom: 10px;
  padding: 5px 0px;
  text-align: center;
}
.timeSlot:hover {
  background: #ccc;
}
.blank {
  flex: 0.25 0 10%;
  margin-bottom: 10px;
}
.selected-timeSlot {
  background-color: #ccc;
}
