.vCardImg {
  position: relative;
}
.vCard-bookBtn {
  position: absolute;
  bottom: 22.5%;
  left: 16.5%;
  height: 8%;
  width: 17%;
}
.vCard-social {
  position: absolute;
  height: 10%;
  width: 6%;
  border-radius: 50%;
  bottom: 7.1%;
}
.insta {
  right: 38.5%;
}
.fb {
  right: 30.5%;
}
.wapp {
  right: 22.5%;
}
